body {
    padding-top: 56px;
}

.jumbotron {
    background-color: gray;
    padding-bottom: 30px;
    padding-top: 30px;
}

.btn-primary {
    background-color: #c60063;
    border-color: #c60063;
}

.btn-secondary {
    background-color: transparent;
    border-color: #c60063;
    color: #c60063;
}

#contact {
    background-color: blanchedalmond;
}

#hero {
    background-color: lightgray;
}